---
import BaseHead from '../components/BaseHead.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import GymInfo from '../components/GymInfo.astro';
import Contact from '../components/Contact.astro';
import Champions from '../components/Champions.astro';
import Reviews from '../components/Reviews.astro';
import Footer from '../components/Footer.astro';


import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Google Tag Manager -->
<script type="text/partytown">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-N9B8DW2G');</script>
	<!-- End Google Tag Manager -->
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script src="../javascript/slider.js"></script>
	</head>

	<body>
		<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9B8DW2G"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
		<Hero />
		<Services />
		<About />
		<GymInfo />
		<Champions />
		<Reviews />
		<Contact />
		<Footer />

	</body>
</html>
<style>
	iframe {
		position: fixed;
	}
</style>
