---
import '@fontsource/roboto-slab/900.css';


---

<a href="">GET IN TOUCH</a>

<style>
/* Reset a tag */

a {
  text-decoration: none;

  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.25rem;
  letter-spacing: .15ch;

  padding: .5rem;
  background-color: #780000;
  color: #fff;
  border: none;
  border-radius: .25rem;

  width: fit-content;
  height: fit-content;
}

a:visited, a:link, a:active {
  text-decoration: none;
}

</style>

