---
import '@fontsource/roboto-slab/900.css';

const {cta = "GET IN TOUCH!"} = Astro.props;
---

<a href="https://wa.me/+918056200031" target="_blank">{cta}</a>

<style>
/* Reset a tag */

a {
  text-decoration: none;

  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: .15ch;

  padding: .5rem;
  background-color: #780000;
  color: #fff;
  border: none;
  border-radius: .25rem;

  width: fit-content;
  height: fit-content;
}

a:visited, a:link, a:active {
  text-decoration: none;
}

</style>

