---
import { Image } from "astro:assets";

import logo from "../assets/images/Logo.png";
---

<footer>
	<Image
	src={logo}
	alt="Lethal Kickboxing Academy Logo"
	width={150}
	 />

	 <div class="wrapper">
		<h2>Contact</h2>
		<p>98, Paper Mills Road, Sembiyan,<br>Perambur, Chennai - 600011</p>
		<a href="mailto:lethalkickboxingacademy@gmail.com">lethalkickboxingacademy@gmail.com</a>
		<a href="tel:+918056200031">+91 80562 00031</a>
	 </div>

	 <div class="wrapper">
		<h2>Quick Links</h2>
		<a href="/">Homepage</a>
		<!-- <a href="/">Blog</a> -->
		<a href="#info">Schedule</a>
		<a href="/">Contact</a>
	 </div>

	 <div class="wrapper">
		<h2>Socials</h2>
		<a href="https://www.instagram.com/lethal_kickboxing_academy/" target="_blank">Instagram</a>
		<a href="https://www.facebook.com/Lethalfightclub/" target="_blank">Facebook</a>
	 </div>
</footer>
<style>
	footer {
		display: flex;
		justify-content: space-evenly;
		padding: 2.5% 0%;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		gap: .7rem;
	}

	h2 {
		font-size: 1.2rem;
		font-weight: 700;
		text-transform: uppercase;
		color: #F1C644;
	}

	p {
		font-size: .9rem;
	}

	@media screen and (max-width: 768px) {
		footer {
			flex-direction: column;
			align-items: left;
			gap: 2rem;
			padding: 5% 0 15% 5%;

		}
	}
</style>
