---
import { Image } from "astro:assets";

import Logo from "../assets/images/Logo.png"
import CTA from "./Button.astro"


---

<header>
	<nav>
		<Image
			src={Logo}
			alt="Lethal Kickboxing Academy Logo"
			width="175"
			class="logo" />

			<div class="mobile-hidden">
			<CTA />
			</div>
	</nav>
</header>
<style>
	nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 60%;
		padding: 2.5rem 10rem;
	}

	@media only screen and (max-width: 500px) {
		nav {
			flex-direction: column;
			padding: 2.5rem 0rem;
			gap: 1.2rem;
		}
		.mobile-hidden{
			display: none;
		}
}
</style>
