---

---

<section class="services">
  <div class="Boxing"> <h3>Boxing</h3></div>
  <div class="Kickboxing"> <h3>Kickboxing</h3></div>
  <div class="Thai"> <h3>Muay Thai</h3></div>
  <div class="Weight"> <h3>Weight Loss</h3></div>
  <div class="Personal"> <h3>Personal Training</h3></div>
  <div class="Strength"> <h3>Strength <br>Functional Training</h3></div>
</section>

<style>
    .services {
      display: flex;
      gap: .5rem;
      align-items: center;
      justify-content: space-evenly;
      padding: 5rem;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 13rem;
      width: 13rem;
      border-radius: 1.875rem;
    }

    h3 {
      color: #A7A7A7;
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-align: center;
    }

    .Boxing {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%), url('../assets/images/services/Boxing.jpg') lightgray 50% / cover no-repeat;
      /* background-position: center center; */
    }

    .Kickboxing {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%), url('../assets/images/services/Kickboxing.jpg') lightgray 50% / cover no-repeat;
      background-position: left bottom;
    }

    .Personal {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%), url('../assets/images/services/Personal.jpg') lightgray 50% / cover no-repeat;
      background-position: left bottom;
    }

    .Strength {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%), url('../assets/images/services/Strength.jpg') lightgray 50% / cover no-repeat;
      background-position: left bottom;
    }
    .Thai {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%), url('../assets/images/services/Thai.jpg') lightgray 50% / cover no-repeat;
      background-position: top;
    }
    .Weight {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%), url('../assets/images/services/Weight.jpg') lightgray 50% / cover no-repeat;
      background-position: center center;
    }
@media screen and (max-width: 768px) {
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

  }

  div {
    width: 10rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}
</style>