---
import { Image } from "astro:assets";
import logo from "../assets/images/whatsapp.png"
---

<a href="https://wa.me/+918056200031">
  <Image
  src={logo}
  alt="Whatsapp Logo"
  width={50}
  />
      CONNECT NOW!
</a>

</button>

<style>
  a {
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: #25D366;

    width: fit-content;
    padding: 1rem;
    border-radius: .7rem;

    font-weight: 700;
    font-size: 1.5rem;
  }
</style>